<!DOCTYPE html>
<html>
<head>
    <title>Crew Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>👨‍✈️ AeroManage</h1>
    <p>Crew Management</p>
</header>

<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/flights">Flights</a>
    <a href="/aircraft">Aircraft</a>
    <a href="/crew">Crew</a>
    <a href="/passengers">Passengers</a>
</nav>

<main>

<h2>👨‍✈️ Crew Management</h2>

<table>

<tr>
    <th>Crew ID</th>
    <th>Name</th>
    <th>Position</th>
    <th>Assigned Flight</th>
</tr>

<tr>
    <td>C001</td>
    <td>Arjun Mehta</td>
    <td>Pilot</td>
    <td>AM101</td>
</tr>

<tr>
    <td>C002</td>
    <td>Neha Sharma</td>
    <td>Co-Pilot</td>
    <td>AM101</td>
</tr>

<tr>
    <td>C003</td>
    <td>Rahul Patil</td>
    <td>Cabin Crew</td>
    <td>AM202</td>
</tr>

<tr>
    <td>C004</td>
    <td>Sneha Joshi</td>
    <td>Cabin Crew</td>
    <td>AM202</td>
</tr>

<tr>
    <td>C005</td>
    <td>Vikram Shah</td>
    <td>Pilot</td>
    <td>AM303</td>
</tr>

</table>

</main>

</body>
</html>